@use '../../../styles/variable' as var;
@use '../../../styles/colors' as color;

.fluid {
    width: var.$full;
    margin: 20px var.$auto;
    max-width: 718px;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width:var.$reg-tablet) {
        padding: 0px;
    }
    
    .container {
       
        padding: 32px 64px;
        border: var.$border var.$decoration-solid color.$blue;

        @media screen and (max-width:var.$reg-tablet) {
            padding: 10px 24px;
            border: var.$d-none;
        }

        .title {
            font-weight: var.$font-bold;
            font-size: 20px;
            line-height: 104%;
            margin-bottom: 17px;
            @media screen and (max-width:var.$phablet) {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .list {
            margin: 0px;
            padding: 0px;

            li {
                font-size: 18px;
                line-height: 25px;
                list-style: var.$d-none;
                margin-bottom: 12px;
                padding-left: 38px;
                position: var.$relative;
                font-family: 'Metropolis';

                @media screen and (max-width:var.$phablet) {
                    margin-bottom: 10px;
                }

                &:before {
                    content: '';
                    position: var.$absolute;
                    background-image: url('../../../images/icons/icon-right-blue.png');
                    width: 16px;
                    height: 12px;
                    background-size: var.$contain;
                    top: var.$half;
                    transform: translate(10px, -(var.$half));
                    left: 0;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}