@use '../../../../styles/variable' as var;
@use '../../../../styles/colors' as color;

.button {
    height: 72px;
    padding: 24px 20px;
    width: var.$full;
    max-width: var.$sm-button;
    color: color.$white;
    font-weight: var.$font-bold;
    font-size: 29px;
    line-height: 29px;
    display: var.$inline-flex;
    justify-content: var.$center;
    align-items: var.$center;
    border: none;
    &.bgBlue {
        background-color: color.$blue;
    }
    &.bgDarkBlue {
        background-color: color.$dark-blue;
    }
    &.bgMalibu {
        background-color: color.$malibu;
    }
}
