// Color Codes Start
$black: #000000;
$white: #fff;
$blue: #0f1eff;
$dark-blue: #0f19c8;
$malibu: #878fff;
$vulcan: #0a0a14;
$black-pearl: #0f1e32;
$lavender: #e6e6ff;
$cod-gray: #1c1c1c;
$light-yellow: #ebc328;
$yellow: #c9a31f;
$vivid-orange: #ffb800;
$spring-green: rgba(255, 184, 0, 0.19);
$mountain-meadow: #1bbf7b;
$dim-gray: #737373;
$persian-rose: #ff2841;
$bright-red: #fb0a10;
$robins-egg-blue: #1ed2e1;
$powder: rgba(15, 30, 255, 0.1);
$light-blue: rgba(15, 30, 255, 0.7);
$cosmos: #ffd3d5;
$light-gray: #d1d1d1;
$chinese-silver: #cbcbcb;
$forest-green: #179762;
$bright-gray: #e1fff3;
$amour: #ecedff;
$lime-green: #141ebe;
$base-black: #2f2f2f;
$basic-gray: #293737;
$brilliant-white: #11141b;
$blue-charcoal: #212529;
$white-smoke: #f5f5f5;
$steel-gray: #656f7c;
$drover: #bea1f8;
$charcoal: #464646;
$electric-purple: #d171ff;
$cosmic-latte: #dfcffb;
$transparent: transparent;
$violet: #4217bc;
$ripe-pineapple: #ffe47a;
$cream-and-butter: #fdde67;
$dark-gray: #ababab;
$candlelight: #e1b300;
$persian-green: #a78500;
$tangerine-yellow: #fddf69;
$grayish-blue: #475467;
$maire: #070a13;
$korma: #0b1498;
$hawkes-blue: #dce3f4;
$cultured: #f7f6f7;
$winter-sky: #0069ff;
$link-water: #ced4da;
$bermuda-gray: #032846;
$black-russian: #140a0a;
$cyan-cobalt-blue: #2852a1;
$light-grayish-blue: #f7f8fc;
$bilbao: #1e376e;
$azure: #3e61a3;
$titan-white: #f6f6ff;
$nero: #232323;
$white-lilac: #EAEAF7;
