@use '../../styles/variable' as var;
@use '../../styles/colors' as color;

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;

  @media screen and (max-width: var.$xl-screen) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (max-width: var.$phablet) {
    margin-top: 0px;
    margin-bottom: 22px;
  }


  .container {
    margin: 0px var.$auto 0px;
    width: var.$full;
    max-width: 914.31px;

    @media screen and (max-width: var.$phablet) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media screen and (max-width: var.$mobile-l) {
      padding-left: 16px;
      padding-right: 16px;
    }

    .descWrapper {
      display: var.$flex;
      justify-content: var.$center;

      @media screen and (max-width: var.$reg-tablet) {
        flex-wrap: var.$wrap;
        text-align: var.$center;
        padding: 0px 20px;
      }

      @media screen and (max-width: var.$mobile-l) {
        padding: 0px;
      }


      .logoWrapper {
        width: var.$full;
        max-width: 244.97px;

        @media screen and (max-width: var.$reg-tablet) {
          text-align: var.$center;
          max-width: 146px;
        }

        .logo {
          width: var.$full;
          margin: var.$auto;
          height: var.$auto !important;
          min-height: var.$auto !important;
          margin: 0px !important;

          @media screen and (max-width: var.$phablet) {
            width: 146px !important;
            max-width: 146px !important;
            min-width: 146px !important;
          }
        }
      }

      .content {
        padding-left: 73px;
        position: var.$relative;
        bottom: 2px;

        @media screen and (max-width: var.$lg-screen) {
          padding-left: 60px;
        }

        @media screen and (max-width: var.$l-tablet) {
          padding-left: 30px;
        }

        @media screen and (max-width: var.$reg-tablet) {
          padding-left: 0px;
          margin-top: 25px;
        }

        .title {
          font-weight: var.$font-semibold;
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 19.2px;

          @media screen and (max-width: var.$xl-tablet) {
            font-size: 34px;
            line-height: 44px;
            margin-bottom: 20px;
          }

          @media screen and (max-width: var.$reg-tablet) {
            margin-bottom: 30px;
          }

          @media screen and (max-width: var.$phablet) {
            font-size: 28px;
            line-height: 35px;
            text-align: var.$center;
            margin-bottom: 15px;
          }
        }

        p {
          font-family: var.$font-metropolis;
          font-weight: var.$font-light;
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 29px;

          sup{
            font-size: 10px;
          }

          @media screen and (max-width: var.$reg-screen) {
            font-size: 22px;
            line-height: 32px;
          }

          @media screen and (max-width: var.$phablet) {
            font-size: 18px;
            line-height: 26px;
            text-align: var.$center;
            margin-bottom: 16px;
          }

          span {
            color: color.$blue;
            font-weight: var.$font-semibold;

            i {
              font-size: 9px;
              position: var.$relative;
              bottom: 10px;
              color: color.$black-pearl;
              font-style: var.$not-italic;
            }
          }

          &:last-child {
            margin-bottom: 0px;
            line-height: 31px;

            @media screen and (max-width: var.$phablet) {
              line-height: 23px;
            }
          }
        }
      }
    }
  }

  .benefits {
    display: var.$flex;
    width: var.$full;
    margin: 110px var.$auto 0px;
    max-width: 934px;
    height: 196px;
    gap: 90px;

    @media screen and (max-width: var.$xl-tablet) {
      gap: 0px;
      margin-top: 50px;
      height: var.$full;
      justify-content: var.$flex-between;
    }

    @media screen and (max-width: var.$reg-tablet) {
      flex-wrap: var.$wrap;
      text-align: var.$center;
    }

    @media screen and (max-width: var.$phablet) {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 28px;
    }

    @media screen and (max-width: var.$mobile-l) {
      margin-top: 0px;
      gap: 0px;
      margin-top: 28px;
    }

    .benefit {
      width: var.$full;
      max-width: 166px;
      height: 196px;
      text-align: var.$center;
      padding: 0px 0px;
      display: var.$flex;
      flex-direction: var.$flex-col;
      justify-content: var.$flex-between;

      @media screen and (max-width: var.$laptop-screen) {
        width: var.$full;
        max-width: var.$full;

      }

      @media screen and (max-width: var.$xl-tablet) {
        width: var.$full;
        max-width: var.$half;
        height: var.$full;
        padding: 30px 15px;
        align-items: var.$center;
      }

      @media screen and (max-width: var.$phablet) {
        padding: 0px;
        margin-bottom: 39px;
      }

      @media screen and (max-width: var.$mobile-l) {
        width: var.$full;
        max-width: var.$half;
        margin-bottom: 39px;
      }

      img {
        margin: var.$auto;
        object-fit: var.$contain;
      }

      p {
        font-family: var.$font-metropolis;
        font-weight: var.$font-medium;
        font-size: 18px;
        line-height: 26px;
        max-width: 200px;


        @media screen and (max-width: var.$phablet) {
          margin-top: 10px;
          font-size: 16px;
          line-height: 22px;
        }
      }

      span {
        @media screen and (max-width: var.$phablet) {
          padding: 28px 39px 0px 39px !important;
          margin-bottom: 7px !important;
        }
      }
    }
  }
}